.articles {
  display: grid;
  grid-template-columns: 1fr;
  column-gap: 30px;
  row-gap: 40px;
  margin-block: 3rem;
  padding-block: 2rem;
}

.articles article {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: .5rem;
}

.articles__article-image {
  border-radius: 20px;
  /* change aspect ratio on bigger screen to be long not wide */
  aspect-ratio: 4 / 3; 
  object-fit: cover;
}

.articles__article-title {
  font-size: var(--3xl);
  color: var(--light);
}
.articles__article-textcontent {
  font-size: var(--base);
  color: var(--slate400);
}

.articles__article-metadata {
  color: var(--slate400);
  display: flex;
  gap: 1.5rem;
  font-size: var(--base);
}

.articles__article-cta-button {
  padding: 1rem;
  border: 1px solid var(--slate600);
  font-size: var(--sm);
  color: var(--slate200);
  border-radius: 99px;
}

.articles hr {
  border-color: var(--slate600);
}

/* xs */
/* @media (min-width: 475px) {} */

/* sm */
/* @media (min-width: 640px) {} */

/* md */
@media (min-width: 768px) {
  .articles {
    grid-template-columns: 1fr 1fr;
  }
}

/* lg */
@media (min-width: 1024px) {
  .articles__article-image {
    aspect-ratio: 9 / 10;
  }
}

/* xl */
@media (min-width: 1280px) {
  .articles {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .articles article {
    gap: 1.5rem;
  }
  .articles__article-title {
    font-size: var(--4xl);
  }

  .articles__article-textcontent {
    font-size: var(--lg);
  }

  .articles__article-metadata {
    font-size: var(--xl);
  }
  
  .articles__article-cta-button {
    padding: 1.2rem;
    border: 1px solid var(--slate600);
    font-size: var(--lg);
    color: var(--slate200);
    border-radius: 99px;
    transition: all .2s;
  }

  .articles__article-cta-button:hover {
    background-color: #0f0ade;
  }
}

/* 2xl */
/* @media (min-width: 1536px) {} */