/* this is the navigation for the footer */
.footer__nav {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  padding: 3rem 0;
}

.nav__brand h2 {
  font-family: "Panchang", sans-serif;
  font-size: var(--3xl);
}

.footer__nav ul {
  display: flex;
  padding: 0;
  list-style: none;
  gap: 0.2rem;
  flex-wrap: wrap;
}

.footer__nav ul a {
  text-decoration: none;
  color: var(--slate400);
  padding: 0.5rem 1rem;
  border-radius: 8px;
}

.footer__nav ul a:hover {
  background-color: var(--slate800);
}

.nav__cta-top, .footer__nav nav {
  flex: 1;
}

.nav__cta-top {
  display: flex;
  justify-content: end;
}

.nav__cta-top button {
  background-color: #0f0ade;
  padding: 1rem 1.5rem;
  border-radius: 99px;
}

/* xs */
/* @media (min-width: 475px) {} */

/* sm */
/* @media (min-width: 640px) {} */

/* md */
/* @media (min-width: 768px) {} */

/* lg */
/* @media (min-width: 1024px) {} */

/* xl */
@media (min-width: 1280px) {
  .footer__nav {
    flex-direction: row;
  }
}

/* 2xl */
/* @media (min-width: 1536px) {} */
